<nav  class="nav-wrapper">
    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <div class="container">
          <a href="#" class="brand-logo">ANGULAR S.A</a>       
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="sass.html">News</a></li>
            <li><a href="collapsible.html">LogOut</a></li>
          </ul>
          
        </div>
    </nav>
    
  <ul id="slide-out" class="sidenav">
    <li><div class="user-view">
      <div class="background">
        <img src="../../../assets/back.jpg">
      </div>
      <a href="#user"><img class="circle" src="../../../assets/perfil.jpg"></a>
      <a href="#name"><span class="white-text name">Andrés Barrantes Chaves</span></a>
      <a href="#email"><span class="white-text email">andres24968@gmail.com</span></a>
    </div></li>
  
    <li class="bold active"><a href="#" routerLink="/listTasks" class="waves-effect waves-light"><i class="material-icons">cloud</i>Tasks</a></li>
    <li><a href="#" routerLink="/users"><i class="material-icons">assignment_ind</i>Users</a></li>
  
  
  
    <li><div class="divider"></div></li>
    <li><a class="subheader">GitHub</a></li>
    <li><a class="waves-effect" href="https://github.com/abarrantesc">https://github.com/abarrantesc</a></li>
  </ul>
